*.pyc
build/
dist/
china_datasets.egg-info/
*.log*
*.swp
*.un~
.eggs/
.idea/
*.rdb
docs/_build
.cache
*.bak
clean.sh
china-datasets-upload/*
.DS_Store
upload-datasets/*
datasetstation.egg-info/*
.ipynb_checkpoints