aiobotocore==1.2.2
boto3==1.16.28
s3fs==0.6.0
datasets==2.5.1
yaspin
colorlog
plotly==5.10.0
cufflinks
wordcloud
tokenizers
pydantic
matplotlib==3.2.2
statsmodels==0.13.2
pandas-profiling[notebook]
emoji
jieba
opencc


